<div>
  <h2>classes</h2>
  <table>
    <tr>
      <th>Class Name</th>
      <th>Location</th>
      <th>Teacher Name</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let class of classes" [ngClass]="{selected : slectedClassId === class.id}" (click)="setCurrentClass(class.id)">
      
      <td>{{class.className}}</td>
      <td>{{class.location}}</td>
      <td>{{class.teacherName}}</td>
      <td><a routerLink="/class/{{class.id}}">Edit</a></td>
      <td (click)="deleteClass(class.id)"><a>Delete</a></td>
    </tr>
    <button (click)="showAddClassForm()">Add Class</button>
  </table>
  <div *ngIf="showAddClass">
    <h2>Add New Class</h2>
    <form #addClass="ngForm" (ngSubmit)="onSubmit(addClass,'addClass')" novalidate>
      <label>Class Name:
        <input ngModel  #className="ngModel"  name="className" required  />
        <p style="color:tomato" *ngIf="addClass.submitted && !className.valid">className is required</p>
      </label>
      <br>
      
      <label>Location:
        <input ngModel  #location="ngModel"  name="location" required  />
        <p style="color:tomato" *ngIf="addClass.submitted && !location.valid">location is required</p>
      </label>
      <br>
      <label>Teacher Name:
        <input ngModel  #teacherName="ngModel"  name="teacherName" required />
        <p style="color:tomato" *ngIf="addClass.submitted && !teacherName.valid">teacherName is required</p>

      </label>
    
      <!-- (click) passes input value to add() and then clears the input -->
      <button type="submit">
        Add Class
      </button>
      <button (click)="className.value='';location.value='';teacherName.value='';showAddClass = false;">
        close
      </button>
      </form>
    </div>

  <div >
  <h2>Biology</h2>
  <table *ngIf="showStudents()" >
    <tr>
      <th>Student Name</th>
      <th>Age</th>
      <th>GPA</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let student of selectedClassStudents;let i = index">
        
      <td [ngClass]="{maxItem : (i === 0 && hadBestStd)}">{{student.firstName}} {{student.lastName}}</td>
      <td>{{student.age}}</td>
      <td>{{student.gpa}}</td>
      <td ><a routerLink="/class/{{slectedClassId}}/student/{{student.id}}">Edit</a></td>
      <td><a (click)="deleteStudent(slectedClassId,student.id)">Delete</a></td>
    </tr>
  </table>
  <button *ngIf="slectedClassId" (click)="showAddStudent = true;">
      Add Student
  </button>
  <div  *ngIf="showAddStudent" >
      <h1>Add New Student</h1>
      <form #addStudent="ngForm" (ngSubmit)="onSubmit(addStudent,'addStudent')" novalidate>
        <label>First Name:
          <input [(ngModel)]="student.firstName" #firstName="ngModel"  name="firstName" required  />
        </label>
        <p style="color:tomato" *ngIf="addStudent.submitted && !firstName.valid" class="help-block">firstName is required</p>
        <p *ngIf="firstnameIsTaken" style="color:tomato">firstname is taken!</p>
    <br>
      <label>Last Name:
        <input [(ngModel)]="student.lastName" #lastName="ngModel"  name="lastName" required  />
      </label>
      <p style="color:tomato" *ngIf="addStudent.submitted && !lastName.valid" class="help-block">lastName is required</p>
    <br>
      <label>Age:
        <input type="number" [(ngModel)]="student.age" #age="ngModel"  name="age" required  />
      </label>
      <p style="color:tomato" *ngIf="addStudent.submitted && !age.valid" class="help-block">age is required</p>
    <br>
      <label>Gpa:
        <input type="number" [(ngModel)]="student.gpa" #gpa="ngModel"  name="gpa" required  />
      </label>
      <p style="color:tomato" *ngIf="addStudent.submitted && !gpa.valid" class="help-block">gpa is required</p>
    <br>
      <!-- (click) passes input value to add() and then clears the input -->
      <button type="submit" >
        submit
      </button>
      <button  (click)="firstName.value='';lastName.value='';age.value='';gpa.value='';showAddStudent = false;">
        close
      </button>
      </form>
    </div>
  </div> 
</div>